<div class="p-3">
  <div class="card">
    <div class="card-body">
      <h3>Products Component</h3>
      <div class="card-body">
        <input type="text" [(ngModel)]="keyword" class="p-1">
        <button class="btn btn-outline-success ms-2" (click)="getProducts()">Search <i class=" bi bi-search"></i></button>
      </div>
      <table class="table">
        <thead>
        <tr>
          <th>Product Name</th>
          <th>Product Price</th>
          <th *ngIf="appState.authState.roles.includes('ADMIN')">Checked</th>
        </tr>
        </thead>
        <tbody *ngFor="let product of products">
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td *ngIf="appState.authState.roles.includes('ADMIN')">
            <button class="btn btn-success" (click)="handleCheckProduct(product)" ><i [class]="product.checked?'bi bi-hand-thumbs-up':'bi bi-hand-thumbs-down'"></i></button>
          </td>
          <td *ngIf="appState.authState.roles.includes('ADMIN')">
            <button class="btn btn-danger" (click)="handleDeleteProduct(product)" ><i class="bi bi-trash"></i></button>
          </td>
          <td *ngIf="appState.authState.roles.includes('ADMIN')">
            <button class="btn btn-primary" (click)="handleEditProduct(product)" ><i class="bi bi-pencil"></i></button>
          </td>
        </tbody>
      </table>
      <ul class="nav nav-pills">
        <li *ngFor="let page of [].constructor(this.totalPages); let i = index">
          <button (click)="handleGotoPage(i+1)" [ngClass]="currentPage==(i+1) ? 'btn btn-success m-1': 'btn btn-outline-success m-1'">{{i+1}}</button>
        </li>
      </ul>
    </div>
  </div>
</div>
